@media screen and (max-width: 769px) {
  .columns {
      margin-top: 10px !important;
  }
}

.sections {
  max-width:1000px !important;
  margin: 0px auto;
  background: inherit;
}

a:visited {
  text-decoration:none !important;
}
.content a:not(.button):visited {
  color: #00d1b2 !important;
}

span.tag {
  margin-bottom:5px;
}